<!-- binding with template ref and 1 way binidng  -->
<!-- <textarea rows="6" #txtarea [value]="'add new post'"></textarea>
<hr />
<button (click)="OnAddPost(txtarea)">Create Post</button>
<p>{{ newPostData }}</p> -->
<div>
  <mat-form-field appearance="outline">
    <mat-label>Post content</mat-label>
    <input
      matInput
      [(ngModel)]="enteredValue"
      placeholder="Write your post..."
    />
    <mat-icon matSuffix>edit</mat-icon>
  </mat-form-field>
</div>

<button mat-raised-button color="primary" (click)="OnAddPost()">
  Create Post
</button>

<hr />
<p>{{ newPostData }}</p>
